<div class="modal fade" id="table-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Entry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="new-entry-modal"></div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="addEntry()">Add Entry</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-table-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Table</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete this table?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="deleteTable()">Delete table</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1>Table: {{table_name}}</h1>
    <button type="button" class="btn btn-primary modified-btn" data-toggle="modal" data-target="#table-modal">
      Add entry
    </button>
    <button type="button" class="btn btn-danger modified-btn" data-toggle="modal" data-target="#delete-table-modal">
      Delete table
    </button>
  </div>
  <div id="alert-div"></div>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <div *ngIf="empty == 'true'">
      <div class="card">
        <div class="card-body">
          <h3>Table is empty.</h3>
        </div>
      </div>
    </div>
    <div *ngIf="empty == 'false'">
      <table class="table table-bordered table-striped mb-0">
        <thead>
        <tr>
          <th *ngFor="let column of columns">{{column}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of rows">
          <td *ngFor="let element of row">{{element}}</td>
          <td><button (click)="removeEntry(getIdFromRow(row))" class="btn btn-primary">delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
