<div class="fill-screen">
  <h1 style="color: white; padding-top: 5em;" align="center">Open Inventory</h1>
  <div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12 elevation-4">
            <h3 class="text-center text-info padded">Login</h3>
            <div class="form-group">
              <label for="username" class="text-info">Username:</label><br>
              <input type="text" name="username" id="username" class="form-control" #usernameInput>
            </div>
            <div class="form-group">
              <label for="password" class="text-info">Password:</label><br>
              <input type="password" name="password" id="password" class="form-control" #passwordInput>
            </div>
            <div class="form-group">
              <label for="remember-me" class="text-info"><span>Remember me</span>
                <span><input id="remember-me" name="remember-me" type="checkbox" style="margin-left: 5px;" #stayLoggedInInput></span>
              </label><br>
              <input type="submit" name="submit" class="btn btn-info btn-md" value="submit"
                     (click)="login(usernameInput.value, passwordInput.value, stayLoggedInInput.checked)" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="2fa-code-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          Please enter the 2FA code:
        </h5>
        <input type="number" class="form-control" [(ngModel)]="twoFactorCode">
        <button class="btn btn-primary mt-3" (click)="twoFactor()">Send</button>
      </div>

    </div>
  </div>
</div>
