<div class="wrapper">
  <div class="content-wrapper">
    <app-sidebar active="system-info"></app-sidebar>
    <div class="container">
      <h1>System Information</h1>
      <div class="card">
        <div class="card-body">
          <p><strong>API-language:</strong><br>{{apiLang}}</p>
          <p><strong>API-version:</strong><br>{{apiVersion}}</p>
          <p><strong>CPU-cores:</strong><br>{{cpuCores}}</p>
          <p><strong>Operating-system:</strong><br>{{operatingSystem}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
