<div class="container">
  <h1>All tables</h1>
  <div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
      <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">entries</th>
        <th scope="col">created at</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let table of tables">
        <td>{{getSingleVals(table, 0)}}</td>
        <td>{{getSingleVals(table, 1)}}</td>
        <td>{{getSingleVals(table, 2)}}</td>
        <td><button class="btn btn-primary" (click)="openTable(getSingleVals(table, 0))">check table</button></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
