<div class="wrapper">
  <div class="content-wrapper">
<app-sidebar active="dashboard"></app-sidebar>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1>OpenInventory</h1>
          <p>
            There is a big story behind this system. I started it in motivation of creating an
            free and open source inventory system for everybody. But the real begin is further away.
            At school we developed a basic inventory system for our MINT lessons. It looked ugly and was not really
            functional. After this great year of gaining experience in software-development, I asked myself how
            senseful it would be to recreate the inventory system. But this time it should be based on secure and fast
            technologies. I started to code and it was like a obsession to see this project growing.
            Today is the 28th January 2020 and I am holding the first stable dev release of the OpenInventory version
            v0.0.2 in my hands and it feels great. I am asking you for sharing this project. It needs support from a community.
            There is so much potential in this project. I am happy about every Issue you open, or every custom frontend you
            create. Everything of it is a big step to let this project grow.<br><br>
            Best regards,<br>
            Mathis Burger
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h1>No changelogs available at the moment.</h1>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h1>No values for the live number of downloads.</h1>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h1>No information about the next release.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
