<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="custom-menu">
      <button type="button" id="sidebarCollapse" class="btn btn-primary" (click)="onToggleClick()">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
    <h1><a href="index.html" class="logo">Open Inventory</a></h1>
    <ul class="list-unstyled components mb-5">
      <li id="active-dashboard-home" class="active">
        <a (click)="onNavClick('dashboard-home')">Dashboard</a>
      </li>
      <li id="active-new-table">
        <a (click)="onNavClick('new-table')">New Table</a>
      </li>
      <li id="active-table-all">
        <a (click)="onNavClick('table-all')">Tables</a>
      </li>
      <li>
        <a>Settings</a>
      </li>
    </ul>

  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <div [ngSwitch]="active">
      <app-dashboard-home *ngSwitchCase="'dashboard-home'"></app-dashboard-home>
      <app-dashboard-new-table *ngSwitchCase="'new-table'"></app-dashboard-new-table>
      <app-table  *ngSwitchCase="'table-all'"></app-table>
    </div>
  </div>
</div>
